/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: #0d47a1;
  --color-dark: #1a1a1a;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-progress-bar {
    animation: progressBar 1.5s linear infinite;
  }
  @keyframes progressBar {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}